.home header{
    background-color: #b84d45;
    background-image: url(headerbg.png);
}

.home header{
    color: white;
    padding-top: 10%;
    padding-bottom: 5%;
}

.home .site-title{
    display: block;
    text-align: center;
    line-height: 1;
    font-size: 3em;
    font-weight: 700;
}

@media (min-width: 768px){
    .home .site-title{
        font-size: 5em;
    }
}
