<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="shortcut icon" type="image/png" href="jasmine/lib/jasmine-2.0.0/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="jasmine/lib/jasmine-2.0.0/jasmine.css"> 
</head>
<body>

<div ng-app="graphApp">
    <div ng-controller="GraphController">
        <form>
            Number of labels: <input type="text" ng-model="numberOfLabels" />
            Number of data sets: <input type="text" ng-model="numberOfDataSets" />
            <button ng-click="initializeLabelAndData(numberOfLabels, numberOfDataSets)" />
                Create line graph
            </button>
        </form>

        <!-- Accept the labels -->
        <form>
            <div ng-repeat="dataLabel in dataLabels">
                Label name: <input ng-model="dataLabel['label']" />
            </div>
        </form>

        <div style="height: 400px; width: 400px">
            <canvas id="canvas" height="450" width="600"></canvas>
        </div>

        <table>
            <tr>
               <th ng-repeat="dataLabel in dataLabels">
                   <input ng-model="dataLabel['label']" ng-change="updateLabel($index, dataLabel.label)" />
               </th>
            </tr>
            <tr ng-repeat="data in dataSets">
                <td ng-repeat="elem in data">
                    <input ng-model="elem.val" ng-change="updateData($parent.$index, $index, elem.val)" onclick="this.select()"/>
                </td>
            </tr>
        </table>
        <!--
        <button ng-click="newDataRow()">
            Add row
        </button>
        <button ng-click="addLabel('Newjklfs', 2)">
            Add label
        </button>
        <button ng-click="pushData()">
            Push data
        </button>
        {{dataSets[0]["data"][0]["val"]}}
        {{dataLabels[0]['label']}}
        -->

    </div>
</div>

</body>

<script type="text/javascript" src="jasmine/lib/jasmine-2.0.0/jasmine.js"></script>
<script type="text/javascript" src="jasmine/lib/jasmine-2.0.0/jasmine-html.js"></script>
<script type="text/javascript" src="jasmine/lib/jasmine-2.0.0/boot.js"></script>

<script src="Chart.js"></script>
<script src="js/angular.js"></script>
<script src="js/script.js"></script>
<script src="js/ChartData.js"></script>
</html>