<div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2" id="graphContainer">
			<canvas id="canvas"></canvas>
		</div>
	</div>
</div>

<div class="container-fluid" id="labelDataSelect" ng-show="screenSelected('labelDataSelect')">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-12">
			<form role="form">
				<div class="form-group">
			    	<label for="numberOfLabels">Number of labels</label>
			    	<input type="number" min="1" ng-model="numberOfLabels" class="form-control" id="numberOfLabels" placeholder=""></input>
			  	</div>
			  	<div class="form-group">
			  		<label for="numberOfDatasets">Number of datasets</label>
			  		<input type="number" min="1" ng-model="numberOfDataSets" class="form-control" id="numberOfDatasets" placeholder=""></input>
			  	</div>
			  	<button type="submit" ng-click="initializeLabelAndData(numberOfLabels, numberOfDataSets)" class="btn btn-success">Continue</button>
			</form>
		</div>	
	</div>	
</div>

<div class="container-fluid" id="labelInsert" ng-show="screenSelected('labelInsert')">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center">Enter label names</h1>
		</div>
		<div class="col-xs-8 col-xs-offset-2">
			<form role="form">
			    <div class="form-group" ng-repeat="dataLabel in lineChartData.labels">
			        <input ng-model="dataLabel['label']" type="text" class="form-control" onclick="this.select()"/>
			    </div>
			    <button type="submit" ng-click="generateNewLineGraph()" class="btn btn-success">
			        Add labels
			    </button>
			</form>
		</div>
	</div>
</div>

<div class="container-fluid" id="dataInsert" ng-show="screenSelected('dataInsert')">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center">Enter data</h1>
		</div>
		<div class="col-md-8 col-md-offset-2" style="overflow-y: visible; overflow-x: auto;">
			<table class="center-block">
			    <tr>
			       <th ng-repeat="dataLabel in lineChartData.labels">
			           {{dataLabel['label']}}
			       </th>
			    </tr>
			    <tr ng-repeat="dataset in lineChartData.datasets">
			        <td ng-repeat="elem in dataset.data">
			            <input ng-model="elem.elem" ng-change="updateData($parent.$index, $index, elem.elem)" onclick="this.select()"/>
			        </td>
			    </tr>
			</table>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<button type="submit" ng-click="generateCode()" class="btn btn-success">Generate code</button>
		</div>
	</div>
</div>

<div class="container-fluid" id="generateCode" ng-show="screenSelected('generateCode')">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div ng-cloak style="display: block; word-wrap: break-word">
				<code>
					var chartData = {{ generatedJavascript }};
				</code>
			</div>
		</div>
	</div>
</div>
</div>