<div class="graphsGeneral">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="graphContainer">
                <canvas id="canvas"></canvas>
            </div>
        </div>
    </div>


    <div class="container-fluid" id="labelDataSelect" ng-show="isScreenSelected('labelDataSelect')">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-12">
                <form role="form" name="chartSizeForm">
                    <div class="form-group">
                        <label for="numberOfLabels">Number of labels</label>
                        <input type="number" name="labels" ng-model="dataSize.numberOfLabels" min="2" required class="form-control" id="numberOfLabels" onclick="this.select()">
                        <div ng-show="chartSizeForm.labels.$dirty && (chartSizeForm.labels.$error.required || chartSizeForm.labels.$error.number || chartSizeForm.labels.$error.min)">
                            <p class="bg-danger spacing-y-Danger">
                                <span ng-show="chartSizeForm.labels.$error.required">Required.</span>
                                <span ng-show="chartSizeForm.labels.$error.number">Not valid number.</span>
                                <span ng-show="chartSizeForm.labels.$error.min">Need at least two labels.</span>
                            </p>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="numberOfDatasets">Number of datasets</label>
                        <input type="number" name="datasets" ng-model="dataSize.numberOfDataSets" min="1" required class="form-control" id="numberOfDatasets" onclick="this.select()">

                        <!-- Error messages -->
                        <div ng-show="chartSizeForm.datasets.$dirty && (chartSizeForm.datasets.$error.required || chartSizeForm.datasets.$error.number || chartSizeForm.datasets.$error.min)">

                            <p class="bg-danger spacing-y-Danger">
                                <span ng-show="chartSizeForm.datasets.$error.required">Required.</span>
                                <span ng-show="chartSizeForm.datasets.$error.number">Not valid number.</span>
                                <span ng-show="chartSizeForm.datasets.$error.min">Need at least one dataset.</span>
                            </p>

                        </div>
                    </div>
                    <button type="submit" ng-disabled="chartSizeForm.$invalid" ng-click="initializeLabelAndData(dataSize.numberOfLabels, dataSize.numberOfDataSets)"
                            class="btn btn-success">Continue
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="labelInsert" ng-show="isScreenSelected('labelInsert')">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Enter label names</h1>
            </div>
            <div class="col-xs-8 col-xs-offset-2">
                <form role="form">
                    <div class="input-group" ng-repeat="dataLabel in chartData.labels">
                        <input ng-model="dataLabel['label']" type="text" class="form-control" onclick="this.select()"/>
                         <span class="input-group-btn">
                            <a class="btn btn-danger" ng-click="removeLabel($index)" aria-label="Remove">X</a>
                         </span>
                    </div>
                    <button type="submit" ng-click="generateNewGraph()" class="btn btn-success">
                        Add labels
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="dataInsert" ng-show="isScreenSelected('dataInsert')">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Enter data</h1>
            </div>
            <div class="col-md-8 col-md-offset-2" style="overflow-y: visible; overflow-x: auto;">
                <table class="center-block">
                    <tr>
                        <th ng-repeat="dataLabel in chartData.labels">
                            {{dataLabel['label']}}
                        </th>
                    </tr>
                    <tr ng-repeat="dataset in chartData.datasets">
                        <td ng-repeat="elem in dataset.data">
                            <input ng-model="elem.elem" ng-change="updateData($parent.$index, $index, elem.elem)"
                                   onclick="this.select()"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <button type="submit" ng-click="generateCode()" class="btn btn-success">Generate code</button>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="generateCode" ng-show="isScreenSelected('generateCode')" ng-cloak>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="codeblock">
                    <h2>JavaScript</h2>

                    <p>Include this JS in JavaScript file.</p>
                    <code>
                        (function(){
                        var chartData = {{ generatedJavascript }};
                        <br>
                        var ctx = document.getElementById("chartCanvas").getContext("2d");
                        <br>
                        var lineChart = new Chart(ctx).{{chartType}}(chartData, {responsive: true});
                        })();
                    </code>

                    <p>Download and link to this JavaScript file.</p>
                    <a href="files/Chart.js" target="_blank">Chart.js</a>
                </div>

                <div class="codeblock">
                    <h2>HTML</h2>
                    <code>
                        &lt;div style=&quot;width:30%&quot;&gt;
                        <br>
                        &lt;div&gt;
                        <br>
                        &lt;canvas id=&quot;chartCanvas&quot; height=&quot;450&quot; width=&quot;600&quot;&gt;&lt;/canvas&gt;
                        <br>
                        &lt;/div&gt;
                        <br>
                        &lt;/div&gt;
                    </code>
                </div>
            </div>
        </div>
    </div>

</div>
